.navbar {
    width: 100%;
    background-color: #1d3557;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  15px 40px;
    box-sizing: border-box;
    position: stiky;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 500;
}

.nav-links a:hover {
    color: #a8dadc;
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .nav-links {
        gap: 15px;
    }
}